.menubox {
	margin-left: 150px;
	margin-top: -135px;
	height: 660px;
	width: 200px;
	background: #000;
		box-shadow: 6px 9px 5px 6px #000;
		-webkit-border-radius:5px; 
		-moz-border-radius:15px; 
		border-radius:5px; 
		-webkit-box-shadow:0 0 6px rgba(0,0,0,0); 
		-moz-box-shadow:0 0 8px rgba(0,4,0,0.4); 
		box-shadow:0 0 7px rgba(0,0,0,0.4); 
}

.menu-buttons {
	margin-top: -42px;
	margin-left: -600px;
}

.summary-buttons {
	margin-top: -42px;
	margin-left: -440px;
}

.summary-buttons1 {
	margin-top: -42px;
	margin-left: -410px;
}

.leftlogo {
	margin-left: 170px;
	margin-top: 10px;
}

.name {
	margin-top: -150px;
	margin-left: 270px;
	height: 120px;
	width: 870px;
	background: #f66300;
		box-shadow: 3px 4px 5px 3px #000;
		-webkit-border-radius:5px; 
		-moz-border-radius:15px; 
		border-radius:5px; 
		-webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
		-moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
		box-shadow:0 0 5px rgba(0,0,0,0.4); 
}	

.menuname {
	margin-top: -150px;
	margin-left: 270px;
	height: 120px;
	width: 870px;
	background: #000;
		box-shadow: 3px 4px 5px 3px #000;
		-webkit-border-radius:5px; 
		-moz-border-radius:15px; 
		border-radius:5px; 
		-webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
		-moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
		box-shadow:0 0 5px rgba(0,0,0,0.4); 
}	

.menu-name {
	margin-top: -150px;
	margin-left: 130px;
	height: 120px;
	width:1010px;
	background: #000;
		box-shadow: 3px 4px 5px 3px #000;
		-webkit-border-radius:5px; 
		-moz-border-radius:15px; 
		border-radius:5px; 
		-webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
		-moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
		box-shadow:0 0 5px rgba(0,0,0,0.4); 
}	

.mainbox {

	width: 270px;
	padding-bottom: 6px;
	background: #f66300;
		box-shadow: 3px 4px 5px 3px #000;
		-webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
		-moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
		box-shadow:0 0 5px rgba(0,0,0,0.4); 
}	

.sidebox {
	margin-top: -517px;
	margin-left: 350px;
	height: 500px;
	width: 905px;
	padding-bottom: 6px;
	background: #f66300;
		box-shadow: 3px 4px 5px 3px #000;
		-webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
		-moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
		box-shadow:0 0 5px rgba(0,0,0,0.4); 
}

.left {
	margin:0 0 10px 0;
	position: relative;
	margin-left: 210px;	
}

.viewleft {
	margin:0 0 10px 0;
	position: relative;
	margin-left: 25px;	
}

.sideleft {
	margin:0 0 10px 0;
	position: relative;
		margin-left: 210px;	
}

.sideleft span {
	display: block;
	color:#000;
	font-size:15px;
	float:left;
	width:100px;
	text-align:right;
	padding:10px 10px 0 0;
	
}

.buttonleft {
	margin:0 0 10px 0;
	position: relative;
	margin-left: 250px;
}

.slightleft {
	margin:0 0 10px 0;
	position: relative;
	margin-left: 25px;
}
