
*{outline: none;}

img {border: 0;}

.container {
	width: 600px;
	padding: 0;
	margin: 0 auto;
}

.folio_block {
	position: absolute;
	left: 50%; top: 50%;
	margin: -120px 0 0 -120px;
}

/*--Main Container--*/

.main_view {

	margin-left: 1px;
	position: relative;

}

/*--Window/Masking Styles--*/

.window {

	height:400px;	width: 520px;

	overflow: hidden; /*--Hides anything outside of the set width/height--*/

	position: relative;
	

}

.image_reel {

	position: absolute;
	padding: 5px;
	top: 0; left: 0;

}

.image_reel img {
float: center;
padding: 5px;
background: #fff;
opacity: 0.8;
box-shadow: 3px 4px 5px 3px #000;
		-webkit-border-radius:5px; 
		-moz-border-radius:15px; 
		border-radius:5px; 
		-webkit-box-shadow:0 0 1px rgba(0,0,0,0); 
		-moz-box-shadow:0 0 3px rgba(0,4,0,0.4); 
		box-shadow:0 0 5px rgba(0,0,0,0.4); 

 }



/*--Paging Styles--*/

.paging {

	position: absolute;
	bottom: 40px; right: -7px;
	width: 178px; height:47px;
	z-index: 100; /*--Assures the paging stays on the top layer--*/
	text-align: center;
	line-height: 40px;
	background: url(paging_bg2.png) no-repeat;
	display: none; /*--Hidden by default, will be later shown with jQuery--*/

}

.paging a {
	padding: 5px;
	text-decoration: none;
	color: #999999;

}

.paging a.active {
	font-weight: bold; 
	background: #920000; 
	border: 1px solid #000000;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;

}

.paging a:hover {font-weight: bold;}

