/*
	 Organic Tabs
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 12px Georgia, serif; }
html { overflow-y: hidden; }
a { text-decoration: none; }
a:focus { outline: 0; }
p { font-size: 15px; margin: 0 0 20px 0; }
#page-wrap {  height:300px; width: 1100px; margin: 30px auto; 

}
h1 { font: bold 40px Sans-Serif; margin: 0 0 20px 0; }

/* Generic Utility */
.hide { position: absolute; top: -9999px; left: -9999px; }


/* Specific to example one */

#hotel { background: #eee; padding: 1px; margin: 0 0 0px 0; -moz-box-shadow: 0 0 0px #666; -webkit-box-shadow: 0 0 0px #666; height:400px;  overflow:auto;}

#hotel .nav { overflow: hidden; margin: 0 0 10px 0; }
#hotel .nav li { width: 97px; float: left; margin: 0 10px 0 0; }
#hotel .nav li.last { margin-right: 0; }
#hotel .nav li a { display: block; padding: 5px; background: #959290; color: white; font-size: 10px; text-align: center; border: 0;-webkit-border-top-left-radius: 7px;-webkit-border-bottom-left-radius: 0px;
	 -webkit-border-top-right-radius: 0px;-webkit-border-bottom-right-radius: 0px;
	
	  }
<!-- #hotel .nav li a:hover { background-color: #111; } -->

#hotel ul { list-style: none; }
#hotel ul li a { display: block; border-bottom: 1px solid #CCC; padding: 4px; color: #666; background-color:#FFF; }
#hotel ul li a:hover { background: #039; color: white; } 
#hotel ul li:last-child a { border: none; }

#hotel ul li.nav-one a.current, #hotel ul#featured li a:hover { background-color: #56B14B; color: white; }
#hotel ul li.nav-two a.current, #hotel ul#core li a:hover { background-color: #56B14B; color: white; }
#hotel ul li.nav-three a.current, #hotel ul#jquerytuts li a:hover { background-color: #56B14B; color: white; }
#hotel ul li.nav-four a.current, #hotel ul#classics li a:hover { background-color: #56B14B; color: white; }
#hotel ul li.nav-five a.current, #hotel ul#classics li a:hover { background-color: #56B14B; color: white; }
#hotel ul li.nav-six a.current, #hotel ul#classics li a:hover { background-color: #56B14B; color: white; }
#hotel ul li.nav-seven a.current, #hotel ul#classics li a:hover { background-color: #56B14B; color: white; }
#hotel ul li.nav-eight a.current, #hotel ul#classics li a:hover { background-color: #56B14B; color: white; }

#featured2{ overflow:auto; }
.s{width:1080px; height:500px; overflow:auto; border:0px solid; border-color:#CCC;}
.s:hover{width:1080px; height:500px; overflow:auto; border:0px solid; border-color:#CCC;}
.list-wrap:hover{border:0px; background-color:#CCC;}





